<div class="w-full flex justify-center">
  <section class="w-full flex flex-col md:flex-row md:flex-wrap items-center justify-center px-8 max-w-[1400px] self-center">
    <div class="w-full max-w-[600px] flex justify-center items-center flex-col md:basis-1/2">
      <h2 class="text-3xl md:text-5xl font-semibold">{{ 'CONTACT_SECTION.SECTION_TITLE' | translate }}</h2>
      <p class="text-xl font-medium text-center mt-6 whitespace-pre-wrap text-slate-500">{{ 'CONTACT_SECTION.SECTION_DESCRIPTION' | translate }}</p>
    </div>

    <div class="mt-6 md:basis-1/2">
      <app-calendly-widget></app-calendly-widget>
    </div>

    <div class="w-full flex justify-center md:basis-100 mt-24">
      <form class="w-full max-w-[600px] flex flex-col justify-center text-slate-700" [formGroup]="formGroupContactUs" id="form-contact-us">
        <h4 class="text-xl md:text-2xl font-semibold">{{ 'CONTACT_SECTION.CONTACT_FORMS_CARDS.CARD2.TITLE' | translate }}</h4>
        <p class="leading-relaxed mt-1">{{ 'CONTACT_SECTION.CONTACT_FORMS_CARDS.CARD2.SUBTITLE' | translate }}</p>
        <div class="relative w-full mb-3 mt-7">
          <label class="block uppercase text-slate-600 text-xs font-bold mb-2" htmlFor="full-name">
            {{ 'CONTACT_SECTION.CONTACT_FORMS_CARDS.CONTACT_FORM_INPUTS.FULLNAME' | translate }}
          </label>
          <input
            formControlName="userFullname"
            type="text"
            class="border-0 px-3 py-3 text-slate-600 placeholder-slate-400 shadow rounded text-sm focus:outline-none focus:ring focus:ring-[#3aaaaa] w-full bg-white"
            [placeholder]="contactSectionInputsTexts.fullNamePlaceholder" />
        </div>

        <div class="relative w-full mb-3">
          <label class="block uppercase text-slate-600 text-xs font-bold mb-2" htmlFor="email"> {{ 'CONTACT_SECTION.CONTACT_FORMS_CARDS.CONTACT_FORM_INPUTS.EMAIL' | translate }} </label>
          <input
            formControlName="userEmail"
            type="email"
            class="border-0 px-3 py-3 text-slate-600 placeholder-slate-400 shadow rounded text-sm focus:outline-none focus:ring focus:ring-[#3aaaaa] w-full bg-white"
            [placeholder]="contactSectionInputsTexts.emailPlaceholder" />
        </div>

        <div class="relative w-full mb-3">
          <label class="block uppercase text-slate-600 text-xs font-bold mb-2" htmlFor="message"> {{ 'CONTACT_SECTION.CONTACT_FORMS_CARDS.CONTACT_FORM_INPUTS.MESSAGE' | translate }} </label>
          <textarea
            formControlName="userMessage"
            rows="4"
            cols="40"
            maxlength="4000"
            class="border-0 px-3 py-3 text-slate-600 placeholder-slate-400 shadow rounded text-sm focus:outline-none focus:ring focus:ring-[#3aaaaa] w-full bg-white"
            [placeholder]="contactSectionInputsTexts.messagePlaceholder"></textarea>
        </div>
        <div class="flex justify-center w-full mt-10">
          <button
            type="button"
            (click)="submitContactForm()"
            class="button-lysia primary-color flex gap-2 flex-nowrap rounded-xl"
            [disabled]="formGroupContactUs.invalid || formGroupContactUs.pristine || submittingForm">
            <mat-spinner diameter="20" mode="indeterminate" *ngIf="submittingForm"></mat-spinner>
            {{ 'CONTACT_SECTION.CONTACT_FORMS_CARDS.CONTACT_FORM_BUTTONS.SEND' | translate }}
          </button>
        </div>
      </form>
    </div>
  </section>
</div>
