<div class="mt-5 lg:mt-20 w-full flex flex-col justify-center items-center animate-slide-down wait600ms">
  <div class="flex justify-center flex-col items-center">
    <button
      type="button"
      class="w-fit button-lysia primary-color bigger-button cta-animated-button"
      [ngClass]="{
        'plausible-event-name=CTA+Hero+Click': abVersion === 'A' && pagePosition === 'top',
        'plausible-event-name=CTA_ALTERNATIVE+Hero+Click': abVersion === 'B' && pagePosition === 'top',
        'plausible-event-name=CTA+Bottom+Click': abVersion === 'A' && pagePosition === 'bottom',
        'plausible-event-name=CTA_ALTERNATIVE+Bottom+Click': abVersion === 'B' && pagePosition === 'bottom'
      }"
      (click)="scrollToContact()">
      <ng-template *ngIf="abVersion === 'A'; else bTemplate">
        <span #cta class="cta-animated-text">{{ 'HERO_CTA' | translate }}</span>
      </ng-template>
      <ng-template #bTemplate>
        <span #ctaB class="cta-animated-text">{{ 'HERO_CTA_ALTERNATIVE' | translate }}</span>
      </ng-template>

    </button>
  </div>
</div>
