<div class="w-full static md:absolute bottom-8 left-20 dynamic-height-sponsors-div">
  <div class="w-full flex justify-center px-4 mt-12 md:mt-40 animate-slide-up-zoom wait600ms">
    <div class="w-full max-w-[1400px] flex justify-between items-center gap-10">
      <div class="flex items-center lg:items-start flex-col">
        <span class="text-xs font-medium mb-3 md:mb-0"><i class="fas fa-heart mr-1 opacity-75"></i>{{ 'Trusted by' | translate }}</span>
        <div class="flex flex-wrap gap-4 md:gap-10 justify-center items-center sponsors-images-div">
          <a href="https://arweave.org/" target="_blank"><img src="./assets/img/logos/arweave-logo.png" class="w-full max-w-[120px] md:max-w-[140px]" /></a>
          <a href="https://arbitrum.io/" target="_blank"><img src="./assets/img/logos/arbitrum-logo.png" class="w-full max-w-[120px] md:max-w-[140px]" /></a>
          <a href="https://www.rndao.io/" target="_blank"><img src="./assets/img/logos/rndao.png" class="w-full max-w-[60px] md:max-w-[80px]" /></a>
          <a href="https://forward.arweave.dev/" target="_blank"><img src="./assets/img/logos/forward-research-logo.png" class="w-full max-w-[100px] md:max-w-[120px]" /></a>
          <a href="https://www.techstars.com/" target="_blank"><img src="./assets/img/logos/techstars-logo.png" class="w-full max-w-[120px] md:max-w-[140px] relative translate-x-2" /></a>
        </div>
      </div>
    </div>
  </div>
</div>
