<section id="features" class="w-full flex justify-center">
  <div class="flex flex-wrap mt-24 px-24 max-w-[1400px] lg:px-0">
    <div class="feature-cards w-fit basis-2/3 flex flex-col gap-8 glasspane-card rounded-tl-3xl">
      <h3 class="text-xl font-semibold">{{ 'FEATURES_SECTION.FEATURE1' | translate }}</h3>
      <p>{{ 'FEATURES_SECTION.FEATURE1DESCRIPTION' | translate }}</p>
    </div>
    <div class="feature-cards w-fit basis-1/3 flex flex-col gap-8 glasspane-card rounded-tr-3xl">
      <h3 class="text-xl font-semibold">{{ 'FEATURES_SECTION.FEATURE2' | translate }}</h3>
      <p>{{ 'FEATURES_SECTION.FEATURE2DESCRIPTION' | translate }}</p>
    </div>
    <div class="feature-cards w-fit basis-1/3 flex flex-col gap-8 glasspane-card rounded-bl-3xl">
      <h3 class="text-xl font-semibold">{{ 'FEATURES_SECTION.FEATURE3' | translate }}</h3>
      <p>{{ 'FEATURES_SECTION.FEATURE3DESCRIPTION' | translate }}</p>
    </div>
    <div class="feature-cards w-fit basis-1/3 flex flex-col gap-8 glasspane-card">
      <h3 class="text-xl font-semibold">{{ 'FEATURES_SECTION.FEATURE4' | translate }}</h3>
      <p>{{ 'FEATURES_SECTION.FEATURE4DESCRIPTION' | translate }}</p>
    </div>
    <div class="feature-cards w-fit basis-1/3 flex flex-col gap-8 glasspane-card rounded-br-3xl">
      <h3 class="text-xl font-semibold">{{ 'FEATURES_SECTION.FEATURE5' | translate }}</h3>
      <p>{{ 'FEATURES_SECTION.FEATURE5DESCRIPTION' | translate }}</p>
    </div>
  </div>
</section>
