<section id="features" class="w-full flex justify-center">
  <div class="flex flex-col mt-12 lg:mt-24 px-4 sm:px-8 lg:px-0 max-w-[1400px] w-full items-center justify-center">
    <!-- Card 1 -->
    <div class="feature-cards flex gap-4 p-4 sm:p-6 w-full rounded-xl hover:bg-slate-200">
      <div class="flex flex-col gap-8 text-lg sm:text-xl basis-[25%] opacity-[0.5]">
        <h3>{{ 'FEATURES_SECTION.FEATURE1' | translate }}</h3>
        <h3 class="card-number text-lg opacity-[0.4]">{{'/.1'}}</h3>
      </div>
      <p class="text-sm sm:text-4xl basis-[75%] text-end">
        {{ 'FEATURES_SECTION.FEATURE1DESCRIPTION' | translate }}
      </p>
    </div>

    <hr class="border-t w-full" />

    <!-- Card 2 -->
    <div class="feature-cards flex gap-4 p-4 sm:p-6 w-full rounded-xl hover:bg-slate-200">
      <div class="flex flex-col gap-8 text-lg sm:text-xl basis-[25%] opacity-[0.5]">
        <h3>{{ 'FEATURES_SECTION.FEATURE2' | translate }}</h3>
        <h3 class="card-number text-lg opacity-[0.4]">{{'/.2'}}</h3>
      </div>
      <p class="text-sm sm:text-4xl basis-[75%] text-end">
        {{ 'FEATURES_SECTION.FEATURE2DESCRIPTION' | translate }}
      </p>
    </div>

    <hr class="border-t w-full" />
    <!-- Card 3 -->
    <div class="feature-cards flex gap-4 p-4 sm:p-6 w-full rounded-xl hover:bg-slate-200">
      <div class="flex flex-col gap-8 text-lg sm:text-xl basis-[25%] opacity-[0.5]">
        <h3>{{ 'FEATURES_SECTION.FEATURE3' | translate }}</h3>
        <h3 class="card-number text-lg opacity-[0.4]">{{'/.3'}}</h3>
      </div>
      <p class="text-sm sm:text-4xl basis-[75%] text-end">
        {{ 'FEATURES_SECTION.FEATURE3DESCRIPTION' | translate }}
      </p>
    </div>

    <hr class="border-t w-full" />
    <!-- Card 4 -->
    <div class="feature-cards flex gap-4 p-4 sm:p-6 w-full rounded-xl hover:bg-slate-200">
      <div class="flex flex-col gap-8 text-lg sm:text-xl basis-[25%] opacity-[0.5]">
        <h3>{{ 'FEATURES_SECTION.FEATURE4' | translate }}</h3>
        <h3 class="card-number text-lg opacity-[0.4]">{{'/.4'}}</h3>
      </div>
      <p class="text-sm sm:text-4xl basis-[75%] text-end">
        {{ 'FEATURES_SECTION.FEATURE4DESCRIPTION' | translate }}
      </p>
    </div>

    <hr class="border-t w-full" />
    <!-- Card 5 -->
    <div class="feature-cards flex gap-4 p-4 sm:p-6 w-full rounded-xl hover:bg-slate-200">
      <div class="flex flex-col gap-8 text-lg sm:text-xl basis-[25%] opacity-[0.5]">
        <h3>{{ 'FEATURES_SECTION.FEATURE5' | translate }}</h3>
        <h3 class="card-number text-lg opacity-[0.4]">{{'/.5'}}</h3>
      </div>
      <p class="text-sm sm:text-4xl basis-[75%] text-end">
        {{ 'FEATURES_SECTION.FEATURE5DESCRIPTION' | translate }}
      </p>
    </div>
  </div>
</section>
