<div class="w-full">
  <nav class="w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg">
    <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
      <div class="w-full relative flex justify-between md:w-auto md:static md:block md:justify-start">
        <!-- <a [routerLink]="['/']" class="text-2xl font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap"> LYSIA Labs </a> -->
        <div class="logo-img-wrapper">
          <img src="./assets/img/logos/lysiallabs_logo_transp_greyed.svg" alt="LYSIA Labs Logo" class="logo-img" [routerLink]="['/']" />
        </div>

        <div class="flex md:hidden justify-end flex-nowrap items-center gap-3">
          <div class="language-selectors-wrapper">
            <div class="lang-selector" (click)="useLanguage('en')" matTooltip="Access the english version of LYSIA Labs">EN</div>
            <div class="lang-selector" (click)="useLanguage('pt')" matTooltip="Consultar a versão portuguesa de LYSIA Labs">PT</div>
            <div class="selector-indicator" [ngClass]="{ 'en-position': currentLanguage === 'en', 'pt-position': currentLanguage === 'pt' }"></div>
          </div>
          <button
            class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block md:hidden outline-none focus:outline-none"
            type="button"
            (click)="openMenu()">
            <i class="text-black fas fa-bars"></i>
          </button>
        </div>
      </div>
      <div class="flex flex-grow items-center bg-transparent">
        <ul class="hidden md:flex gap-2 flex-row list-none ml-auto">
          <li class="flex items-center">
            <div
              class="text-slate-600 py-2 px-4 flex items-center text-xs uppercase font-bold hover:bg-slate-600 hover:text-white transition-all rounded-full cursor-pointer plausible-event-name=Contact+Us+Navbar+Click"
              (click)="contactUsScrollToDiv()"
              >{{ 'Contact Us' | translate }}</div
            >
          </li>

          <li class="flex items-center">
            <a class="text-slate-600 p-2 flex items-center text-xs uppercase font-bold hover:bg-slate-600 hover:text-white transition-all rounded-full" href="https://x.com/getFairAI/" target="_blank">
              <i class="fab fa-x-twitter text-lg leading-lg"></i>
            </a>
          </li>

          <li class="flex items-center">
            <a
              class="text-slate-600 p-2 flex items-center text-xs uppercase font-bold hover:bg-slate-600 hover:text-white transition-all rounded-full"
              href="https://www.linkedin.com/company/getfairai"
              target="_blank">
              <i class="fab fa-linkedin text-lg leading-lg"></i>
            </a>
          </li>

          <li class="ml-2 flex items-center">
            <div class="language-selectors-wrapper">
              <div class="lang-selector" (click)="useLanguage('en')" matTooltip="Access the english version of LYSIA Labs">EN</div>
              <div class="lang-selector" (click)="useLanguage('pt')" matTooltip="Consultar a versão portuguesa do LYSIA Labs">PT</div>
              <div class="selector-indicator" [ngClass]="{ 'en-position': currentLanguage === 'en', 'pt-position': currentLanguage === 'pt' }"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="navbar-menu-popup" *ngIf="menuOpen" [ngClass]="{ 'menu-close-animation': menuClosingAnimation }">
  <div class="menu-container" [ngClass]="{ 'menu-close-animation': menuClosingAnimation }">
    <div class="menu-button">
      <button cdkFocusInitial class="text-xl p-0 m-0" type="button" (click)="closeMenu()">
        <i class="text-white fas fa-close"></i>
      </button>
    </div>

    <div class="menu-logo">
      <img src="./assets/img/logos/lysiallabs_logo_transp_greyed.svg" alt="LYSIA Logo" />
    </div>

    <a class="menu-item" (click)="closeMenu(undefined, true)"><i class="fas fa-comment text-xl"></i> {{ 'Contact Us' | translate }}</a>
    <a class="menu-item" href="https://www.linkedin.com/company/getfairai" target="_blank"><i class="fab fa-x-twitter text-xl"></i> X / Twitter</a>
    <a class="menu-item" href="https://www.linkedin.com/company/getfairai" target="_blank"><i class="fab fa-linkedin text-xl"></i> LinkedIn</a>

    <div class="language-selectors-wrapper mt-10">
      <div class="lang-selector" (click)="useLanguage('en')" matTooltip="Access the english version of LYSIA Labs">EN</div>
      <div class="lang-selector" (click)="useLanguage('pt')" matTooltip="Consultar a versão portuguesa do LYSIA Labs">PT</div>
      <div class="selector-indicator" [ngClass]="{ 'en-position': currentLanguage === 'en', 'pt-position': currentLanguage === 'pt' }"></div>
    </div>
  </div>
</div>
