<footer class="pb-4 mt-10">
  <div class="w-full flex justify-center px-4 text-slate-600">
    <div class="flex flex-wrap text-center lg:text-left justify-center lg:justify-between items-center w-full max-w-[1200px] gap-8">
      <div class="flex-1 flex flex-col items-center md:items-start">
        <h4 class="text-2xl font-semibold">{{ 'FOOTER.SLOGAN' | translate }}</h4>
        <h5 class="mb-2 text-slate-500"> {{ 'FOOTER.SLOGAN_SUBTITLE' | translate }} </h5>
        <div class="mt-6 lg:mb-0 mb-6 flex gap-4 text-lg">
          <button
            class="bg-white text-sky-600 shadow-md font-normal h-12 w-12 items-center justify-center align-center rounded-full outline-none focus:outline-none hover:shadow-[#3aaaaa] transition-all"
            type="button"
            (click)="openLinkNewTab('https://www.linkedin.com/company/getfairai')">
            <i class="fab fa-linkedin"></i>
          </button>
          <button
            class="bg-white text-red-600 shadow-md font-normal h-12 w-12 items-center justify-center align-center rounded-full outline-none focus:outline-none hover:shadow-[#3aaaaa] transition-all"
            type="button"
            (click)="openLinkNewTab('https://www.youtube.com/channel/UCEnc4qQ_3r40x4T8fOb8hdg')">
            <i class="fab fa-youtube"></i>
          </button>
        </div>
      </div>
      <div class="flex-1 min-w-[300px] flex justify-center md:justify-end flex-nowrap gap-10">
        <div class="w-[140px]">
          <span class="block uppercase text-blueGray-500 text-sm font-semibold text-start p-2"> {{ 'FOOTER.LINKS_LIST2.TITLE' | translate }} </span>
          <ul class="list-unstyled footer-list-items">
            <li class="list-item text-start">
              <a class="text-blueGray-600 bg-transparent hover:bg-[#3aaaaa] hover:text-white rounded-md font-semibold block p-2 text-sm" href="https://getfair.ai/#/privacy-policy">
                Privacy
              </a>
            </li>
            <li class="list-item text-start">
              <a class="text-blueGray-600 bg-transparent hover:bg-[#3aaaaa] hover:text-white rounded-md font-semibold block p-2 text-sm" href="https://blog.getfair.ai/" target="_blank">
                Blog
              </a>
            </li>
            <li class="list-item text-start">
              <a class="text-blueGray-600 bg-transparent hover:bg-[#3aaaaa] hover:text-white rounded-md font-semibold block p-2 text-sm" href="https://blog.getfair.ai/" target="_blank">
                Contact
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full flex justify-center my-5 text-center">
    <div class="text-sm text-slate-400 font-medium py-1"> Copyright © {{ date }} FairAI </div>
  </div>
</footer>
