<section class="w-full flex justify-center">
  <div class="flex flex-col px-8 md:px-24 xl:px-0 max-w-[1400px] w-full items-center justify-center">
    <h2 class="text-3xl md:text-5xl font-bold text-center p-12">{{ 'PRICING.TITLE' | translate }}</h2>
    <div class="max-w-[1400px] w-full flex flex-col md:flex-row items-center md:justify-center gap-16 pt-8">
      <div class="bg-slate-200 rounded-xl shadow-2xl p-6 md:p-12 flex flex-col items-start gap-8 w-full">
        <h2 class="text-xl md:text-2xl font-bold text-start text-wrap">{{ 'PRICING.PLAN1.TITLE' | translate }}</h2>

        <p class="text-md font-medium text-slate-400">{{ 'PRICING.PLAN1.DESCRIPTION' | translate }}</p>
        <div class="flex flex-col items-center gap-2 w-full">
          <div class="flex gap-2 md:w-full">
            <mat-icon class="min-w-fit text-md font-medium text-slate-400">verified</mat-icon>
            <p class="text-md font-medium text-slate-400 text-wrap">{{ 'PRICING.PLAN1.FEATURES1' | translate }}</p>
          </div>
          <div class="flex gap-2 md:w-full">
            <mat-icon class="min-w-fit text-md font-medium text-slate-400">verified</mat-icon>
            <p class="text-md font-medium text-slate-400 text-wrap">{{ 'PRICING.PLAN1.FEATURES2' | translate }}</p>
          </div>
          <div class="flex gap-2 md:w-full">
            <mat-icon class="min-w-fit text-md font-medium text-slate-400">verified</mat-icon>
            <p class="text-md font-medium text-slate-400 text-wrap">{{ 'PRICING.PLAN1.FEATURES3' | translate }}</p>
          </div>

          <div class="flex gap-2 md:w-full">
            <mat-icon class="min-w-fit text-md font-medium text-slate-400">verified</mat-icon>
            <p class="text-md font-medium text-slate-400 text-wrap">{{ 'PRICING.PLAN1.FEATURES4' | translate }}</p>
          </div>
        </div>
        <button type="button" class="w-full rounded-xl p-4 bg-[#3aaaaa] self-center hover:brightness-[80%] hover:shadow-xl plausible-event-name=PRICING_PLAN1+Click" (click)="scrollToContact()">
          <span class="text-md font-medium text-white">{{ 'PRICING.PLAN1.BUTTON' | translate }}</span>
        </button>
      </div>
      <div class="bg-slate-200 rounded-xl shadow-2xl p-6 md:p-12 flex flex-col items-start gap-8 w-full">
        <h2 class="text-xl md:text-2xl font-bold text-start">{{ 'PRICING.PLAN2.TITLE' | translate }}</h2>

        <p class="text-md font-medium text-slate-400">{{ 'PRICING.PLAN2.DESCRIPTION' | translate }}</p>
        <div class="flex flex-col items-center gap-2 w-full">
          <div class="flex gap-2 md:w-full">
            <mat-icon class="min-w-fit text-md font-medium text-slate-400">verified</mat-icon>
            <p class="text-md font-medium text-slate-400 text-wrap">{{ 'PRICING.PLAN2.FEATURES1' | translate }}</p>
          </div>
          <div class="flex gap-2 md:w-full">
            <mat-icon class="min-w-fit text-md font-medium text-slate-400">verified</mat-icon>
            <p class="text-md font-medium text-slate-400 text-wrap">{{ 'PRICING.PLAN2.FEATURES2' | translate }}</p>
          </div>
          <div class="flex gap-2 md:w-full">
            <mat-icon class="min-w-fit text-md font-medium text-slate-400">verified</mat-icon>
            <p class="text-md font-medium text-slate-400 text-wrap">{{ 'PRICING.PLAN2.FEATURES3' | translate }}</p>
          </div>

          <div class="flex gap-2 md:w-full">
            <mat-icon class="min-w-fit text-md font-medium text-slate-400">verified</mat-icon>
            <p class="text-md font-medium text-slate-400 text-wrap">{{ 'PRICING.PLAN2.FEATURES4' | translate }}</p>
          </div>
        </div>
        <button type="button" class="w-full primary-color p-4 bg-[#3aaaaa] rounded-xl self-center hover:brightness-[80%] hover:shadow-xl plausible-event-name=PRICING_PLAN12+Click" (click)="scrollToContact()">
          <span class="text-md font-medium text-white">{{ 'PRICING.PLAN2.BUTTON' | translate }}</span>
        </button>
      </div>
    </div>
  </div>
</section>
