<div class="w-full text-center text-xs py-1 bg-slate-700 text-white">
  <p>This page is currently under construction. Some things might not work as expected.</p>
</div>

<div class="animate-slide-down wait600ms w-full">
  <app-auth-navbar></app-auth-navbar>
</div>

<div class="main-content w-full">
  <router-outlet></router-outlet>
</div>

<div class="mt-40 w-full">
  <app-footer></app-footer>
</div>

<div class="w-full text-center text-xs py-1 bg-slate-700 text-white">
  <p>This page is currently under construction. Some things might not work as expected.</p>
</div>
