.background-wrapper {
  .bg-cover {
    background-image: url('/assets/img/backgrounds/blurred_asbtract_bg.jpg');
    opacity: 0.4;
  }
}

.cards-vertical-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;

  .card {
    margin: 25px 0px;
    width: 100%;
    max-width: 1600px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
    border-radius: 30px;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .card-content-left {
      flex: 1 1 300px;
      display: flex;
      flex-direction: column;
      padding: 15px;
      box-sizing: border-box;

      .card-title {
        background-color: rgb(70, 70, 70);
        border-radius: 40px;
        padding: 5px 25px;
        font-weight: 600;
        font-size: 28px;
        color: white;
        width: fit-content;
      }

      .card-subtitle {
        margin-top: 20px;
        padding: 5px 20px;
        font-weight: 600;
        font-size: 22px;
      }

      .card-description {
        margin-top: 10px;
        font-weight: 600;
        font-size: 18px;

        .card-pills {
          display: flex;
          flex-direction: column;
          gap: 8px;

          .card-pill {
            padding: 6px 18px;
            display: flex;
            gap: 8px;

            mat-icon {
              flex: 0 0 fit-content;
              margin-top: 2px;
            }
          }
        }
      }
    }

    .card-content-right {
      flex: 1 1 300px;
      display: flex;
      justify-content: flex-end;

      img {
        border-radius: 20px;
        object-fit: cover;
        border: 6px solid white;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
      }

      .video-wrapper {
        background-color: white;
        text-align: center;
        font-weight: 600;
        font-size: 90%;
        width: 100%;
        max-width: 640px;
        border-radius: 20px;
        overflow: hidden;
        border: 6px solid white;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);

        youtube-player {
          border-radius: 20px;
          overflow: hidden;
        }
      }
    }
  }
}

.white-pills-bg {
  background-color: rgba(255, 255, 255, 0.8);
}

@keyframes dashAnimation1 {
  from {
    stroke-dashoffset: 1397;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dashAnimation2 {
  from {
    stroke-dashoffset: 387;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.logo-img-wrapper {
  width: 100%;
  max-width: 600px;
  padding: 30px;
  margin-bottom: 20px;
  box-sizing: border-box;
  position: relative;

  // .logo-img {
  //   width: 100%;
  //   object-fit: contain;
  // }

  .svg-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    z-index: 0;
    opacity: 0;
    animation: 1s fadeIn 2s forwards;
  }

  .svg-animation {
    position: absolute;
    width: 100%;
    max-width: 500px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 1;
    animation: 1s fadeOut 3s forwards;

    .logo-path-1 {
      // animate logo
      stroke-dasharray: 1397;
      stroke-dashoffset: 1397;
      animation: dashAnimation1 4s linear 0.1s forwards !important;
    }

    .logo-path-2 {
      // animate logo
      stroke-dasharray: 387;
      stroke-dashoffset: 387;
      animation: dashAnimation2 5s linear 1s forwards !important;
    }
  }
}

.container-scroll-arrows {
  .scroll-arrows {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 0px 40px;
    margin-top: 80px;
    box-sizing: border-box;
    // opacity: 0;
    transition: 0.4s all;

    @media only screen and (max-width: 800px) {
      padding: 0px 15px !important;
    }

    .arrow-left,
    .arrow-right {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: rgb(70, 79, 88);
      color: white;
      font-size: larger;
      transition: 0.2s all;
      cursor: pointer;

      &:hover,
      &:focus-within {
        background-color: rgb(123, 137, 151);
        transform: scale(1.03);
      }
    }
  }

  &:hover,
  &:focus-within {
    .scroll-arrows {
      opacity: 1 !important;
    }
  }
}

.gradient-white-bg {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.4) 30%, rgba(255, 255, 255, 0.4) 70%, rgba(255, 255, 255, 0) 90%);
}

.technologies-section {
  padding: 40px 0px 60px 0px;

  .technologies-images {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;

    @media only screen and (max-width: 800px) {
      margin-top: 40px;
      gap: 40px 25px;
    }

    img {
      width: 100%;
      max-width: 200px;
      object-fit: contain;
      filter: grayscale(1) brightness(0.7); // order is important

      @media only screen and (max-width: 800px) {
        max-width: 100px;
      }
    }
  }
}

.top-info-cards-wrapper {
  padding-top: 60px; // for auto scroll
  width: 100%;
  display: flex;
  justify-content: center;

  .top-info-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    flex-wrap: wrap;
    gap: 30px;

    .info-card {
      flex: 1 1 200px;
      position: relative;
      max-width: 300px;
      text-align: center;
      padding: 20px;
      padding-bottom: 30px;
      box-sizing: border-box;
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 0.6);
      cursor: pointer;
      transition: 0.2s all;

      .open-icon {
        position: absolute;
        bottom: 5px;
        right: 10px;
        opacity: 0.3;
        transition: 0.2s all;

        mat-icon {
          font-size: 20px;
        }
      }

      &:hover,
      &:focus-within {
        background-color: rgba(255, 255, 255, 0.8);
        transform: scale(1.03);

        .open-icon {
          color: #3aaaaa;
          opacity: 1;
        }
      }
    }
  }
}
