@import './assets/styles/import-tailwind.css';
@import './assets/font-awesome/fontawesome.min.css';
@import './assets/font-awesome/solid.min.css'; // call it with fas class
@import './assets/font-awesome/brands.min.css'; // call it with fab class

html,
body {
  height: 100%;
}
body {
  font-family: 'Noto Sans', Noto, sans-serif !important;
  color: #464646;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeInZoomIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInSlideDownZoomIn {
  0% {
    opacity: 0;
    transform: translateY(-80px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fadeInSlideUpZoomIn {
  0% {
    opacity: 0;
    transform: translateY(80px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fadeOutSlideUpZoomOut {
  0% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-80px) scale(0.9);
  }
}

@keyframes fadeInSlideRight {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeInSlideLeft {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

// landing page animations
@keyframes bgBlockSlideRight {
  0% {
    opacity: 1;
    width: 4px;
    transform: translateX(0%);
  }
  50% {
    width: 4px;
    left: 100%;
  }
  100% {
    opacity: 1;
    width: 100%;
    transform: translateX(0%);
  }
}

@keyframes underlineSlideRight {
  0% {
    opacity: 1;
    width: 4px;
  }
  100% {
    opacity: 1;
    width: calc(100% + 6px);
  }
}

.text-with-dark-bg-jambo {
  padding: 4px 25px;
  color: white;
  font-weight: 600;
  position: relative;

  @media only screen and (max-width: 600px) {
    padding: 4px 15px;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    bottom: 0;
    height: 100%;
    border-radius: 0.75rem;
    background-color: rgb(70, 70, 70);
    opacity: 0;
    width: 4px;
    animation: 1.6s bgBlockSlideRight 0.6s forwards;
  }
}

.underlined-text-animation {
  position: relative;
  line-height: 1.35;

  &::after {
    content: '';
    position: absolute;
    left: -3px;
    bottom: 0;
    height: 4px;
    border-radius: 10px;
    background-color: rgb(70, 70, 70);
    opacity: 0;
    width: 4px;
    z-index: -1;
    animation: 1s underlineSlideRight 0.8s forwards;

    @media only screen and (max-width: 600px) {
      height: 2px;
    }
  }

  &.delay500ms::after {
    animation: 1.2s underlineSlideRight 1.5s forwards !important;
  }

  &.delay800ms::after {
    animation: 1.2s underlineSlideRight 1.8s forwards !important;
  }
}

.underlined-text-normal {
  width: fit-content;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: -4px;
    bottom: 0;
    height: 4px;
    border-radius: 10px;
    background-color: #3aaaaa;
    width: calc(100% + 8px);
    z-index: -1;

    @media only screen and (max-width: 700px) {
      height: 3px;
    }
  }
}

.animate-fade-in {
  opacity: 0;
  animation: 0.4s fadeIn forwards;
}

.animate-slide-down {
  opacity: 0;
  animation: 0.4s fadeInSlideDown forwards;
}

.animate-slide-right {
  opacity: 0;
  animation: 0.4s fadeInSlideRight forwards;
}

.animate-slide-left {
  opacity: 0;
  animation: 0.4s fadeInSlideLeft forwards;
}

.animate-slide-up-zoom {
  opacity: 0;
  animation: 0.4s fadeInSlideUpZoomIn forwards;
}

.wait100ms {
  animation-delay: 0.1s;
}

.wait200ms {
  animation-delay: 0.2s;
}

.wait300ms {
  animation-delay: 0.3s;
}

.wait400ms {
  animation-delay: 0.4s;
}

.wait500ms {
  animation-delay: 0.5s;
}

.wait600ms {
  animation-delay: 0.6s;
}

.primary-text-color {
  color: #3aaaaa !important;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  backdrop-filter: blur(10px);
}

.mat-mdc-dialog-panel {
  border-radius: 30px;
  overflow: hidden;
  animation: 0.4s fadeInSlideUpZoomIn ease forwards !important;
  overflow-y: auto !important;
  width: 90vw !important;
  max-width: 1400px !important;
  max-height: 95vh !important;

  @media only screen and (max-width: 700px) {
    width: 95vw !important;
    max-height: 97vh !important;
  }
}

.youtube-player-placeholder {
  // try to fix the youtube embed library not being responsive
  width: 100% !important;
}

// custom css class for snackbar material (need to add this class when calling the snackbar)
.snackbar-custom-css {
  .mdc-snackbar__surface {
    background-color: white !important;
    border-radius: 40px !important;

    .mat-mdc-snack-bar-label {
      color: rgb(70, 70, 70) !important;
      font-weight: 700 !important;
      white-space: pre-wrap;
    }

    .mat-mdc-snack-bar-action {
      background-color: white !important;
      border-radius: 20px !important;
      color: rgb(70, 70, 70) !important;
      font-weight: 600 !important;
    }
  }

  &.success .mdc-snackbar__surface {
    background-color: rgb(101, 206, 85) !important;

    .mat-mdc-snack-bar-label {
      color: white !important;
    }
  }

  &.error .mdc-snackbar__surface {
    background-color: rgb(208, 86, 86) !important;

    .mat-mdc-snack-bar-label {
      color: white !important;
    }
  }
}

.button-lysia {
  padding: 6px 15px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  // box-shadow: 2px 7px 10px 0px rgba(58,170,170, 0.7);
  box-shadow: 2px 7px 10px 0px darken(#3aaaaa, 10%);

  &.primary-color {
    background-color: #3aaaaa;
    color: white;
  }

  &.outlined-primary-color {
    border: 2px solid #3aaaaa;
    color: #3aaaaa;
  }

  &.outlined-secondary-color {
    border: 2px solid rgb(70, 70, 70);
    color: rgb(70, 70, 70);
  }

  &.bigger-button {
    font-weight: 700;
    padding: 10px 20px;
    font-size: 26px;

    &.outlined-primary-color {
      padding: 8px 18px;
      border: 4px solid #3aaaaa;
    }

    &.outlined-secondary-color {
      padding: 8px 18px;
      border: 4px solid rgb(70, 70, 70);
    }
  }

  &:disabled {
    opacity: 0.6 !important;
    pointer-events: none !important;
  }
}
