<section class="w-full flex justify-center custom-bg">
  <div class="flex flex-col px-8 md:px-24 xl:px-0 max-w-[1400px] w-full items-center justify-center">
    <div class="w-fit backdrop-blur-[2px] rounded-xl p-4 test-x">
      <h2 class="text-2xl md:text-3xl font-bold text-center w-full my-6">{{ 'COMPARE.TITLE' | translate }}</h2>
      <h3 class="text-xl md:text-2xl text-medium text-center w-full text-slate-400">{{ 'COMPARE.DESCRIPTION' | translate }}</h3>
      <div class="w-full flex  flex-col md:flex-row">
        <div class="p-6 md:p-12 flex flex-col items-start gap-8 w-full">
          <h2 class="text-xl md:text-2xl font-bold text-start text-wrap text-slate-400">{{ 'COMPARE.US.TITLE' | translate }}</h2>

          <hr class="border-t w-full" />
          <div class="flex flex-col items-center gap-2 w-full">
            <div class="flex gap-2 md:w-full">
              <mat-icon class="min-w-fit text-md font-medium text-[#3aaaaa]">check</mat-icon>
              <p class="text-md font-medium text-slate-400 text-wrap">{{ 'COMPARE.US.FEATURES1' | translate }}</p>
            </div>
            <div class="flex gap-2 md:w-full">
              <mat-icon class="min-w-fit text-md font-medium text-[#3aaaaa]">check</mat-icon>
              <p class="text-md font-medium text-slate-400 text-wrap">{{ 'COMPARE.US.FEATURES2' | translate }}</p>
            </div>
            <div class="flex gap-2 md:w-full">
              <mat-icon class="min-w-fit text-md font-medium text-[#3aaaaa]">check</mat-icon>
              <p class="text-md font-medium text-slate-400 text-wrap">{{ 'COMPARE.US.FEATURES3' | translate }}</p>
            </div>

            <div class="flex gap-2 md:w-full">
              <mat-icon class="min-w-fit text-md font-medium text-[#3aaaaa]">check</mat-icon>
              <p class="text-md font-medium text-slate-400 text-wrap">{{ 'COMPARE.US.FEATURES4' | translate }}</p>
            </div>
          </div>
        </div>
        <div class="p-6 md:p-12 flex flex-col items-start gap-8 w-full">
          <h2 class="text-xl md:text-2xl font-bold text-start text-wrap text-slate-400">{{ 'COMPARE.OTHERS.TITLE' | translate }}</h2>

          <hr class="border-t w-full" />
          <div class="flex flex-col items-center gap-2 w-full">
            <div class="flex gap-2 md:w-full">
              <mat-icon class="min-w-fit text-md font-medium text-red-400">close</mat-icon>
              <p class="text-md font-medium text-slate-400 text-wrap">{{ 'COMPARE.OTHERS.FEATURES1' | translate }}</p>
            </div>
            <div class="flex gap-2 md:w-full">
              <mat-icon class="min-w-fit text-md font-medium text-red-400">close</mat-icon>
              <p class="text-md font-medium text-slate-400 text-wrap">{{ 'COMPARE.OTHERS.FEATURES2' | translate }}</p>
            </div>
            <div class="flex gap-2 md:w-full">
              <mat-icon class="min-w-fit text-md font-medium text-red-400">close</mat-icon>
              <p class="text-md font-medium text-slate-400 text-wrap">{{ 'COMPARE.OTHERS.FEATURES3' | translate }}</p>
            </div>

            <div class="flex gap-2 md:w-full">
              <mat-icon class="min-w-fit text-md font-medium text-red-400">close</mat-icon>
              <p class="text-md font-medium text-slate-400 text-wrap">{{ 'COMPARE.OTHERS.FEATURES4' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
